VITE_API_URL=http://localhost:5000/api
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YmV0dGVyLWtvZGlhay0xMzA0LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_OLI7aUUdCHeP95G5w9XljPVKDfRvyGz4FZz5jZ3UHb
ADMIN_EMAIL=derbewmolla14@gmail.com

MONGODB_USERNAME="derbewmolla14_db_user"
MONGODB_PASSWORD="0D3Fttha444fZ9s1fAM"
MONGODB_URI="mongodb+srv://derbewmolla14_db_user:0D3Fttha444fZ9s1fAM@cluster0.prnayvs.mongodb.net/molla_vision"
JWT_SECRET=molladerbewkibret12345?
PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
# EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
# EMAIL_USER=
EMAIL_PASSWORD=1234567890987654321
EMAIL_FROM=derbewmolla14@gmail.com
VIDEO_STORAGE_PROVIDER=cloudinary
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=