mongodb+srv://derbewmolla14_db_user:<db_password>@cluster0.prnayvs.mongodb.net/?appName=Cluster0
JWT_SECRET=12345678901234567890
CLERK_SECRET_KEY=
ADMIN_EMAIL=
PORT=5000
CLIENT_URL=https://molla-vision.vercel.app/
CLIENT_URLS=https://molla-vision.vercel.app/
NODE_ENV=development